@import url("https://fonts.googleapis.com/css?family=Gamja+Flower|Nanum+Pen+Script|Special+Elite|Sue+Ellen+Francisco");
html, body {
  font-size: 16px;
  z-index: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  color: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background: #141414; }

.site_logo {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 150px;
  height: 40px;
  background-image: url(../images/rhcp_text.png);
  background-size: 150px 40px;
  background-repeat: no-repeat;
  background-position: center; }

#header_container {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 100;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  transition: top 500ms;
  -webkit-clip-path: none;
  clip-path: none; }

.nav_container {
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 0px;
  background: rgba(20, 20, 20, 0.9); }
  .nav_container li {
    height: 20vh;
    list-style: none; }
    .nav_container li a {
      color: #f3f3f3;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-decoration: none;
      font-size: 1.5em;
      font-family: 'Special Elite',serif;
      transition: 350ms ease-in-out;
      text-decoration: none; }
      .nav_container li a:hover {
        color: #e62424; }

@media (min-width: 800px) {
  #header_container {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%, 46% 78%, 28% 77%, 21% 93%, 9% 80%, 5% 90%, 0 86%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 60% 100%, 46% 78%, 28% 77%, 21% 93%, 9% 80%, 5% 90%, 0 86%, 0 0);
    background: rgba(0, 0, 0, 0.6); }
  .nav_container {
    position: absolute;
    height: 70px;
    flex-direction: row;
    margin: 0 auto;
    width: auto;
    right: 30px;
    background: none; }
    .nav_container li {
      height: 100%;
      margin: auto 1em; }
      .nav_container li a {
        font-size: 1.2em;
        padding: 0;
        margin: auto;
        letter-spacing: 0.1em; }
  #nav_icon {
    display: none; } }

.nav_container--open {
  height: auto; }

#nav_icon {
  width: 45px;
  height: 30px;
  position: absolute;
  right: 1em;
  top: 0.3em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  cursor: pointer;
  z-index: 2;
  padding: 0.7em; }

#nav_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 77%;
  border-radius: 5px;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

#nav_icon span:nth-child(1) {
  top: 9px;
  background-color: #f3f3f3; }

#nav_icon span:nth-child(2) {
  top: 24px;
  background-color: #f3f3f3; }

#nav_icon span:nth-child(3) {
  top: 39px;
  background-color: #f3f3f3; }

#nav_icon.open {
  background: none; }

#nav_icon.open span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #f3f3f3; }

#nav_icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav_icon.open span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #f3f3f3; }

.footer_container {
  position: relative;
  width: 100vw;
  height: 100px; }

.hero_container {
  position: relative;
  width: 100%;
  height: 1400px;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.hero_bg {
  background-image: url(../images/rhcp_bg_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100%; }

.hero_overlay {
  position: absolute;
  width: 100vw;
  height: 500px;
  background-image: url(../images/rhcp_bg_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0;
  -webkit-clip-path: polygon(0 0, 0 95%, 10% 100%, 20% 91%, 37% 93%, 52% 98%, 66% 89%, 84% 100%, 100% 91%, 100% 0);
  clip-path: polygon(0 0, 0 95%, 10% 100%, 20% 91%, 37% 93%, 52% 98%, 66% 89%, 84% 100%, 100% 91%, 100% 0); }

.rhcp_logo_container {
  position: absolute;
  width: 100%;
  height: 32%;
  z-index: 2;
  background-image: url(../images/rhcp_logo_svg.png);
  background-size: 250px 251px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotation 6s infinite linear;
  animation: rotation 6s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.hero_info_container {
  z-index: 2;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: auto;
  background: #141414;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0; }
  .hero_info_container::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 70px;
    left: 50%;
    top: -50px;
    background: #141414;
    transform: translateX(-50%); }
  .hero_info_container .hero_info_box {
    font-family: 'Special Elite', monospace;
    font-size: 1.3em;
    max-width: 150px;
    text-align: center;
    line-height: 1.3em; }
    .hero_info_container .hero_info_box .rhcp_info_logo {
      width: 50px;
      height: 50px;
      background-image: url(../images/rhcp_logo_star.png);
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: center; }

.promo_video_outer {
  position: absolute;
  width: 90%;
  max-width: 800px;
  height: 550px;
  margin: 0;
  padding: 0;
  background-image: url(../images/rhcp_bg_early.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  top: 650px;
  left: 50%;
  transform: translateX(-50%); }
  .promo_video_outer .promo_video_container {
    position: absolute;
    width: 560px;
    height: 315px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .promo_video_outer .promo_video_container iframe {
      width: 560px;
      height: 315px; }

@media (max-width: 800px) {
  .hero_container {
    height: 1100px; }
  .promo_video_outer {
    height: 300px;
    width: 100%; }
    .promo_video_outer .promo_video_container {
      width: 90%;
      height: 90%; }
      .promo_video_outer .promo_video_container iframe {
        width: 100%;
        height: 100%; } }

@media (max-width: 540px) {
  .hero_overlay {
    -webkit-clip-path: none;
    clip-path: none; }
  .rhcp_logo_container {
    height: 201px;
    top: 15%;
    background-size: 200px 201px;
    background-position: center;
    background-repeat: no-repeat; }
  .hero_info_container {
    top: 460px;
    width: 85%; }
    .hero_info_container .hero_info_box {
      font-size: 1em; }
      .hero_info_container .hero_info_box .rhcp_info_logo {
        width: 30px;
        height: 30px;
        background-size: 30px 30px; } }

.img_section_outer {
  position: relative;
  width: 100vw;
  height: 500px;
  padding: 0;
  margin: 0; }

.img_container {
  position: relative;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.flea_img {
  background-image: url(../images/flea.png); }

.anthony_img {
  background-image: url(../images/anthony_kiedis.png); }

.chad_img {
  background-image: url(../images/chad_smith.png); }

.josh_img {
  background-image: url(../images/josh_klinghoffer.png);
  background-position: top center; }

.john_img {
  background-image: url(../images/john_4_greyscale.png); }

.img_section_info {
  display: block;
  position: absolute;
  top: 2em;
  right: 10%;
  text-align: right;
  background: salmon;
  width: auto;
  text-align: left; }
  .img_section_info h1 {
    font-size: 5em;
    padding: 0;
    margin: 1em auto 0 auto; }
  .img_section_info p {
    font-size: 2em;
    font-family: 'Special Elite',sans-serif; }

.info_float {
  left: 10%; }

@media (max-width: 620px) {
  .img_section_outer {
    height: 300px; }
  .img_container {
    background-attachment: unset;
    height: 300px; }
  .img_section_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 200px;
    right: 20px;
    top: 20px;
    box-shadow: 3px 3px 0px 0px #e62424; }
    .img_section_info h1 {
      font-size: 1.5em; }
    .img_section_info p {
      font-size: 1em; }
  .info_float {
    left: 20px;
    box-shadow: -3px -3px 0px 0px #e62424; } }
