@import url("https://fonts.googleapis.com/css?family=Gamja+Flower|Nanum+Pen+Script|Special+Elite|Sue+Ellen+Francisco");
html, body {
  font-size: 16px;
  z-index: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  color: #f3f3f3;
  font-family: sans-serif;
  position: relative;
  background: #141414; }

.site_logo {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 150px;
  height: 40px;
  background-image: url(../images/rhcp_text.png);
  background-size: 150px 40px;
  background-repeat: no-repeat;
  background-position: center; }

.color_red {
  color: #e62424; }

#header_container {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 100;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  transition: top 500ms;
  -webkit-clip-path: none;
  clip-path: none; }

.nav_container {
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 0px;
  background: rgba(20, 20, 20, 0.9); }
  .nav_container li {
    height: 20vh;
    list-style: none; }
    .nav_container li a {
      color: #f3f3f3;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-decoration: none;
      font-size: 1.5em;
      font-family: 'Special Elite',serif;
      transition: 350ms ease-in-out;
      text-decoration: none; }
      .nav_container li a:hover {
        color: #e62424; }

@media (min-width: 800px) {
  #header_container {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 56% 100%, 46% 78%, 28% 77%, 21% 93%, 9% 80%, 5% 90%, 0 86%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 60% 100%, 46% 78%, 28% 77%, 21% 93%, 9% 80%, 5% 90%, 0 86%, 0 0);
    background: rgba(0, 0, 0, 0.6); }
  .nav_container {
    position: absolute;
    height: 70px;
    flex-direction: row;
    margin: 0 auto;
    width: auto;
    right: 30px;
    background: none; }
    .nav_container li {
      height: 100%;
      margin: auto 1em; }
      .nav_container li a {
        font-size: 1.2em;
        padding: 0;
        margin: auto;
        letter-spacing: 0.1em; }
  #nav_icon {
    display: none; } }

.nav_container--open {
  height: auto; }

#nav_icon {
  width: 45px;
  height: 30px;
  position: absolute;
  right: 1em;
  top: 0.3em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  cursor: pointer;
  z-index: 2;
  padding: 0.7em; }

#nav_icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 77%;
  border-radius: 5px;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

#nav_icon span:nth-child(1) {
  top: 9px;
  background-color: #f3f3f3; }

#nav_icon span:nth-child(2) {
  top: 24px;
  background-color: #f3f3f3; }

#nav_icon span:nth-child(3) {
  top: 39px;
  background-color: #f3f3f3; }

#nav_icon.open {
  background: none; }

#nav_icon.open span:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  background: #f3f3f3; }

#nav_icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav_icon.open span:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #f3f3f3; }

.footer_container {
  position: relative;
  width: 100vw;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 3em 0; }
  .footer_container h1 {
    font-size: 2em;
    margin: 0 auto;
    padding: 0 0 0.25em 0;
    font-family: 'Special Elite',sans-serif; }
  .footer_container h2 {
    font-size: 0.7em;
    letter-spacing: 0.3em;
    margin: 0 auto;
    padding: 0 0 1em 0;
    font-weight: 200;
    color: #a0a0a0; }
  .footer_container .footer_links_container {
    margin: 0 auto; }
    .footer_container .footer_links_container a {
      text-decoration: none;
      color: #f3f3f3;
      margin: 0 2em;
      font-size: 0.9em;
      font-weight: 300;
      transition: color 350ms ease-in-out; }
      .footer_container .footer_links_container a:hover {
        color: #e62424; }

@media (max-width: 500px) {
  .footer_container .footer_links_container a {
    font-size: 0.8em;
    margin: 1em; } }

.hero_container {
  position: relative;
  width: 100%;
  height: 1250px;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.hero_bg {
  background-image: url(../images/rhcp_bg_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100%; }

.hero_overlay {
  position: absolute;
  width: 100vw;
  height: 500px;
  background-image: url(../images/rhcp_bg_2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  top: 0;
  -webkit-clip-path: polygon(0 0, 0 95%, 10% 100%, 20% 91%, 37% 93%, 52% 98%, 66% 89%, 84% 100%, 100% 91%, 100% 0);
  clip-path: polygon(0 0, 0 95%, 10% 100%, 20% 91%, 37% 93%, 52% 98%, 66% 89%, 84% 100%, 100% 91%, 100% 0); }

.rhcp_logo_container {
  position: absolute;
  width: 100%;
  height: 37%;
  z-index: 2;
  background-image: url(../images/rhcp_logo_svg.png);
  background-size: 250px 251px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: rotation 6s infinite linear;
  animation: rotation 6s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.hero_info_container {
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 600px;
  height: auto;
  background: rgba(20, 20, 20, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 0;
  border: 3px solid #e62424; }
  .hero_info_container::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 70px;
    left: 50%;
    top: -50px;
    background: #e62424;
    transform: translateX(-50%); }
  .hero_info_container .hero_info_box {
    font-family: 'Special Elite', monospace;
    font-size: 1.3em;
    max-width: 150px;
    text-align: center;
    line-height: 1.3em; }
    .hero_info_container .hero_info_box .rhcp_info_logo {
      width: 50px;
      height: 50px;
      background-image: url(../images/rhcp_logo_star.png);
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-animation: rotation 6s infinite reverse linear;
      animation: rotation 6s infinite reverse linear; }

.promo_video_outer {
  position: absolute;
  width: 90%;
  max-width: 600px;
  height: 430px;
  margin: 0;
  padding: 0;
  background-image: url(../images/rhcp_bg_early.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: polygon(14% 0, 29% 4%, 86% 3%, 100% 10%, 100% 89%, 86% 100%, 60% 94%, 18% 99%, 0 90%, 0 7%);
  clip-path: polygon(14% 0, 29% 4%, 86% 3%, 100% 10%, 100% 89%, 86% 100%, 60% 94%, 18% 99%, 0 90%, 0 7%); }
  .promo_video_outer .promo_video_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .promo_video_outer .promo_video_container iframe {
      width: 100%;
      height: 100%; }

@media (max-width: 800px) {
  .hero_container {
    height: 1100px; }
  .promo_video_outer {
    height: 300px;
    width: 100%; }
    .promo_video_outer .promo_video_container {
      width: 90%;
      height: 90%; } }

@media (max-width: 540px) {
  .hero_overlay {
    -webkit-clip-path: none;
    clip-path: none; }
  .rhcp_logo_container {
    height: 201px;
    top: 15%;
    background-size: 200px 201px;
    background-position: center;
    background-repeat: no-repeat; }
  .hero_info_container {
    top: 460px;
    width: 85%; }
    .hero_info_container .hero_info_box {
      font-size: 1em; }
      .hero_info_container .hero_info_box .rhcp_info_logo {
        width: 30px;
        height: 30px;
        background-size: 30px 30px; } }

.img_section_outer {
  position: relative;
  width: 100vw;
  height: 500px;
  padding: 0;
  margin: 0; }

.img_container {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0; }

.flea_img {
  background-image: url(../images/flea.png);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
  z-index: 1; }

.anthony_img {
  background-image: url(../images/anthony_kiedis.png);
  margin-top: -7vw; }

.chad_img {
  background-image: url(../images/chad_smith.png);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));
  z-index: 1; }

.josh_img {
  background-image: url(../images/josh_klinghoffer.png);
  background-position: top center;
  margin-top: -7vw; }

.john_img {
  background-image: url(../images/john_4_greyscale.png);
  height: 600px; }

.img_section_info {
  display: block;
  position: absolute;
  top: 2em;
  right: 10%;
  text-align: right;
  width: auto;
  text-align: left;
  z-index: 1; }
  .img_section_info::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 62px;
    left: -25px;
    top: 95px;
    background: #e62424;
    transform: translateX(-50%); }
  .img_section_info h1 {
    font-size: 5em;
    padding: 0;
    margin: 1em auto 0 auto; }
  .img_section_info p {
    font-size: 2em;
    font-family: 'Special Elite',sans-serif; }

.info_float {
  left: 10%;
  top: 0; }

.the_band_cta_container {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 450px;
  background: #e62424;
  padding: 1.5em 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  clip-path: polygon(52.5% 0, 100% 15%, 100% 100%, 0 100%, 0 15%, 47.5% 0); }
  .the_band_cta_container p {
    font-size: 2em;
    padding: 0.5em 0;
    margin: 0 auto; }
  .the_band_cta_container .the_band_cta {
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #f3f3f3;
    background: #e62424;
    width: auto;
    margin: 1em auto;
    padding: 0.5em 1em;
    text-decoration: none;
    cursor: pointer;
    color: #f3f3f3;
    transition: 350ms ease-in-out; }
    .the_band_cta_container .the_band_cta:hover {
      background: rgba(20, 20, 20, 0.3); }

@media (max-width: 850px) {
  .the_band_cta_container p {
    font-size: 1.2em; } }

@media (max-width: 620px) {
  .img_section_outer {
    height: 300px; }
  .img_container {
    background-attachment: unset;
    height: 300px;
    clip-path: none; }
  .img_section_info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    width: 200px;
    right: 20px;
    top: 20px;
    box-shadow: 3px 3px 0px 0px #e62424; }
    .img_section_info::before {
      display: none; }
    .img_section_info h1 {
      font-size: 1.5em; }
    .img_section_info p {
      font-size: 1em; }
  .info_float {
    left: 20px;
    box-shadow: -3px -3px 0px 0px #e62424; }
  .the_band_cta_container {
    clip-path: none; } }

@media (max-width: 530px) {
  .the_band_cta_container p {
    font-size: 0.8em;
    margin: 0;
    padding: 0; }
  .the_band_cta_container .the_band_cta {
    font-size: 1.2em; } }

.gallery_hero_outer {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 100px 0;
  background: #141414; }

.hero_grid_container {
  box-sizing: border-box;
  display: grid;
  width: 80%;
  max-width: 1000px;
  height: 1300px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  background: #e62424;
  grid-gap: 5px 5px;
  border: 5px solid #e62424; }

.hero_grid_box {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 300ms ease-in-out; }
  .hero_grid_box:hover {
    opacity: 0.6; }

.hero_grid_1 {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url(../images/rhcp_bg_5.png); }

.hero_grid_2 {
  grid-area: 3 / 1 / 6 / 2;
  background-image: url(../images/john_3.png); }

.hero_grid_3 {
  grid-area: 6 / 1 / 8 / 2;
  background-image: url(../images/rhcp_bg_early.png); }

.hero_grid_4 {
  grid-area: 1 / 2 / 3 / 3;
  background-image: url(../images/rhcp_bg_4.png); }

.hero_grid_5 {
  grid-area: 3 / 2 / 5 / 3;
  background-image: url(../images/rhcp_bg_6.png);
  background-position: top -70px center; }

.hero_grid_6 {
  grid-area: 5 / 2 / 7 / 3;
  background-image: url(../images/rhcp_bg_7.png); }

.hero_grid_7 {
  grid-area: 7 / 2 / 8 / 3;
  display: flex;
  margin: auto;
  align-items: center;
  border: none; }
  .hero_grid_7:hover {
    opacity: 1; }
  .hero_grid_7 .gallery_cta {
    font-size: 1.5em;
    text-align: center;
    border: 2px solid #f3f3f3;
    width: auto;
    margin: 1em auto;
    padding: 0.5em 2em;
    text-decoration: none;
    cursor: pointer;
    color: #f3f3f3;
    transition: 300ms ease-in-out; }
    .hero_grid_7 .gallery_cta:hover {
      background: rgba(20, 20, 20, 0.3); }

@media (max-width: 768px) {
  .hero_grid_container {
    grid-gap: 0px 0px;
    border: none;
    width: 100%; }
  .hero_grid_1 {
    grid-area: 5 / 1 / 7 / 3; }
  .hero_grid_2 {
    grid-area: 3 / 1 / 5 / 1; }
  .hero_grid_3 {
    grid-area: 7 / 2 / 7 / 3; }
  .hero_grid_4 {
    grid-area: 1 / 1 / 3 / 3; }
  .hero_grid_5 {
    grid-area: 3 / 2 / 5 / 3;
    background-position: top 0 center; }
  .hero_grid_6 {
    grid-area: 7 / 2 / 7 / 1; }
  .hero_grid_7 {
    grid-area: 7 / 2 / 8 / 3; }
    .hero_grid_7 .gallery_cta {
      font-size: 1.1em;
      padding: 0.25em 1em; }
      .hero_grid_7 .gallery_cta:hover {
        background: rgba(230, 36, 36, 0.6); } }
