html,body{
    font-size: 16px;
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    background: $color-black;
}

.site_logo{
    position: absolute;
    top: 22px;
    left: 50px;
    width: 150px;
    height: 40px;
    background-image: url(../images/rhcp_text.png);
    background-size: 150px 40px;
    background-repeat: no-repeat;
    background-position: center;
}