.gallery_hero_outer{
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 100px 0;
    background: $color-black;
}

.hero_grid_container{
    box-sizing: border-box;
    display: grid;
    width: 80%;
    max-width: 1000px;
    height: 1300px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    background: $color-red;
    grid-gap: 5px 5px;
    border: 5px solid $color-red;
}
.hero_grid_box{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 300ms ease-in-out;
    //border: 3px solid $color-red;
    &:hover{
        //transform: scale(0.95);
        opacity: 0.6;
    }
}

.hero_grid_1{
    grid-area: 1 / 1 / 3 / 2;
    background-image: url(../images/rhcp_bg_5.png);
}

.hero_grid_2{ 
    grid-area: 3 / 1 / 6 / 2;
    background-image: url(../images/john_3.png);
}

.hero_grid_3{ 
    grid-area: 6 / 1 / 8 / 2;
    background-image: url(../images/rhcp_bg_early.png);
}

.hero_grid_4{ 
    grid-area: 1 / 2 / 3 / 3;
    background-image: url(../images/rhcp_bg_4.png);
}

.hero_grid_5{ 
    grid-area: 3 / 2 / 5 / 3;
    background-image: url(../images/rhcp_bg_6.png);
    background-position: top -70px center;
}

.hero_grid_6{ 
    grid-area: 5 / 2 / 7 / 3;
    background-image: url(../images/rhcp_bg_7.png);
}

.hero_grid_7{
    grid-area: 7 / 2 / 8 / 3;
    display: flex;
    margin: auto;
    align-items: center;
    border: none;
    &:hover{
        opacity: 1;
    }
    .gallery_cta{
        font-size: 1.5em;
        text-align: center;
        border: 2px solid $color-white;
        //background: $color-red;
        width: auto;
        margin: 1em auto;
        padding: 0.5em 2em;
        text-decoration: none;
        cursor: pointer;
        color: $color-white;
        transition: 300ms ease-in-out;
        //font-weight: 200;
        &:hover{
            background: rgba(20, 20, 20, 0.3);
        }
    }
}

@media (max-width: 768px){
    .hero_grid_container{
        grid-gap: 0px 0px;
        border: none;
        width: 100%;
    }
    .hero_grid_1,{
        grid-area: 5 / 1 / 7 / 3;
    }
    .hero_grid_2{ 
        grid-area: 3 / 1 / 5 / 1;
    }
    .hero_grid_3{ 
        grid-area: 7 / 2 / 7 / 3;
    }
    .hero_grid_4{ 
        grid-area: 1 / 1 / 3 / 3;
    }
    .hero_grid_5{ 
        grid-area: 3 / 2 / 5 / 3;
        background-position: top 0 center;
    }
    .hero_grid_6{ 
        grid-area: 7 / 2 / 7 / 1;
    }
    .hero_grid_7{
        grid-area: 7 / 2 / 8 / 3;
        .gallery_cta{
            font-size: 1.1em;
            padding: 0.25em 1em;
            &:hover{
                background: rgba(230, 36, 36, 0.6);
            }
        }
    }
}
