.img_section_outer{
    position: relative;
    width: 100vw;
    height: 500px;
    padding: 0;
    margin: 0;
    //z-index: -1;
}
.img_container{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
.flea_img{
    background-image: url(../images/flea.png);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
    z-index: 1;
}
.anthony_img{
    background-image: url(../images/anthony_kiedis.png);
    margin-top: -7vw;
}
.chad_img{
    background-image: url(../images/chad_smith.png);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));
    z-index: 1;
}
.josh_img{
    background-image: url(../images/josh_klinghoffer.png);
    background-position: top center;
    margin-top: -7vw;
}
.john_img{
    background-image: url(../images/john_4_greyscale.png);
    height: 600px;
}

 
.img_section_info{
    display: block;
    position: absolute;
    top: 2em;
    right: 10%;
    text-align: right;
    //background: salmon;
    width: auto;
    text-align: left;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        width: 5px;
        height: 62px;
        left: -25px;
        top: 95px;
        background: $color-red;
        transform: translateX(-50%);
    }
    h1{
        font-size: 5em;
        padding: 0;
        margin: 1em auto 0 auto;
    }
    p{
        font-size: 2em;
        font-family: 'Special Elite',sans-serif;
    }
}
.info_float{
    left: 10%;
    top: 0;
}

.the_band_cta_container{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 450px;
    background: $color-red;
    padding: 1.5em 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: polygon(52.5% 0, 100% 15%, 100% 100%, 0 100%, 0 15%, 47.5% 0);
    p{
        font-size: 2em;
        padding: 0.5em 0;
        margin: 0 auto;
    }
    .the_band_cta{
        font-size: 1.5em;
        text-align: center;
        border: 2px solid $color-white;
        background: $color-red;
        width: auto;
        margin: 1em auto;
        padding: 0.5em 1em;
        text-decoration: none;
        cursor: pointer;
        color: $color-white;
        transition: 350ms ease-in-out;
        &:hover{
            background: rgba(20, 20, 20, 0.3);
        }
    }
}

// Media Queries
@media (max-width: 850px){
    .the_band_cta_container{
        p{
            font-size: 1.2em;
        }
    }
}
@media (max-width: 620px){
    .img_section_outer{
        height: 300px;
    }
    .img_container{
        background-attachment: unset;
        height: 300px;
        clip-path: none;
    }
    .img_section_info{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 330px;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        width: 200px;
        right: 20px;
        top: 20px;
        box-shadow: 3px 3px 0px 0px $color-red;
        &::before{
            display: none;
        }
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 1em;
        }
    }
    .info_float{
        left: 20px;
        box-shadow: -3px -3px 0px 0px $color-red;
    }
    .the_band_cta_container{
        clip-path: none;
    }
}
@media (max-width: 530px){
    .the_band_cta_container{
        p{
            font-size: 0.8em;
            margin: 0;
            padding: 0;
        }
        .the_band_cta{
            font-size: 1.2em;
        }
    }
}
  