.img_section_outer{
    position: relative;
    width: 100vw;
    height: 500px;
    padding: 0;
    margin: 0;
    //z-index: -1;
}
.img_container{
    position: relative;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
.flea_img{
    background-image: url(../images/flea.png);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7vw), 0 100%);
    z-index: 1;
}
.anthony_img{
    background-image: url(../images/anthony_kiedis.png);
    margin-top: -7vw;
}
.chad_img{
    background-image: url(../images/chad_smith.png);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 7vw));
    z-index: 1;
}
.josh_img{
    background-image: url(../images/josh_klinghoffer.png);
    background-position: top center;
    margin-top: -7vw;
}
.john_img{
    background-image: url(../images/john_4_greyscale.png);
}

 
.img_section_info{
    display: block;
    position: absolute;
    top: 2em;
    right: 10%;
    text-align: right;
    //background: salmon;
    width: auto;
    text-align: left;
    z-index: 1;
    h1{
        font-size: 5em;
        padding: 0;
        margin: 1em auto 0 auto;
    }
    p{
        font-size: 2em;
        font-family: 'Special Elite',sans-serif;
    }
}
.info_float{
    left: 10%;
    top: 0;
}
@media (max-width: 620px){
    .img_section_outer{
        height: 300px;
    }
    .img_container{
        background-attachment: unset;
        height: 300px;
        clip-path: none;
    }
    .img_section_info{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 330px;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        width: 200px;
        right: 20px;
        top: 20px;
        box-shadow: 3px 3px 0px 0px $color-red;
        h1{
            font-size: 1.5em;
        }
        p{
            font-size: 1em;
        }
    }
    .info_float{
        left: 20px;
        box-shadow: -3px -3px 0px 0px $color-red;
    }
}